.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    display: flex;
    justify-content: space-between;
  }
  .navMenu {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    text-align: center;
    span {
      display: block;
    }
  }
  .headerSearchContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerStats {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .companyUserLogos {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
