.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .howToSteps {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .howToTalent {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}