@use "../base/variables" as *;

.contactHeader {
  .popupActive .logoutReminder {
    width: 410px;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    background-color: white;
    p {
      color: black;
    }
    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .buttonRoundClear {
      color: black;
      border-color: black;
    }
  }
}
.contactUsMap {
  background-color: $greenBg;
  width: 100%;
  min-height: 400px;
  height: 400px;
  max-width: 2000px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  span {
    color: $darkGreen;
  }
}
.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactDiv {
  max-width: 850px;
  width: 95%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 50px;
  }
}
.contactTypes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
    p {
      font-size: 0.8rem;
      padding: 5px 0;
      color: $darkGrey;
    }
    a {
      font-size: 0.7rem;
      text-decoration: underline;
      transition: all 0.1s linear;
      &:hover {
        color: $lightGreen;
      }
    }
    .contactPhone {
      font-size: 1rem;
      color: $green;
    }
  }
  h5 {
    padding: 25px 0;
  }
}
.contactIcons {
  width: 100px;
}
.contactUs {
  .contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    input,
    textarea {
      border: none;
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 10px;
    }
    label {
      font-size: 0.7rem;
      margin-bottom: 10px;
      color: $darkGrey;
    }
  }
  .contactUsTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .contactUsName,
  .contactUsEmail {
    width: calc(100% / 2 - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    input {
      width: 100%;
    }
  }
  .contactUsMiddle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 35px;
    input {
      width: 100%;
    }
  }
  .contactUsBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    textarea {
      width: 100%;
      padding: 20px;
      resize: none;
    }
    button {
      margin-top: 35px;
      width: 100%;
      background-color: $green;
      text-transform: uppercase;
      padding: 15px 0;
      font-size: 0.7rem;
      transition: all 0.1s linear;
      &:hover {
        background-color: $brown;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
