@use "../base/variables" as *;

.dashboardSection {
  background-color: $greenBg;
  min-height: 100vh;
  display: flex;
  .dashboardWrapper {
    width: 100%;
    nav {
      background-color: $greenBg;
    }
    .navLogo {
      position: absolute;
      left: 38px;
      width: 100px;
      min-width: 10%;
    }
  }
}
.dashboardContainer {
  position: relative;
  height: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .dashboardNav {
    position: sticky;
    top: 0;
    padding: 30px 5px;
    // border-radius: 20px;
    background-color: white;
    width: 15%;
    min-width: 190px;
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .avatar {
    margin: 120px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatarImage {
      height: 80px;
      width: 80px;
      background-color: black;
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }
  .dashboardOptions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.8rem;
    li {
      margin: 5px 0;
      border-radius: 20px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $darkGreen;
    }
    label {
      text-transform: capitalize;
      border-radius: 20px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: all 0.05s linear;
      &:hover {
        background-color: $green;
        color: white;
      }
    }
  }
  .dashboardContent {
    width: 100%;
    padding: 30px;
    h2 {
      margin-bottom: 50px;
    }
    input {
      width: 100%;
      border-radius: 5px;
      outline: 2px solid transparent;
      border: 1px solid $darkGrey;
      font-size: 0.8rem;
      padding: 10px;
      background-color: white;
      &:read-only {
        pointer-events: none;
      }
    }
    textarea {
      outline: 2px solid transparent;
      background-color: white;
      width: 100%;
      resize: none;
      font-size: 0.8rem;
      border-radius: 5px;
      border: 1px solid $darkGrey;
      padding: 5px;
      &:read-only {
        pointer-events: none;
      }
    }
    label {
      font-size: 0.8rem;
      font-weight: bold;
      // margin-bottom: 20px;
      margin-bottom: 10px;
      padding: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    select {
      border-color: $darkGrey;
      background-color: white;
      font-size: 0.8rem;
      padding: 10px;
      border-radius: 5px;
      outline: 2px solid transparent;
      border: 1px solid $darkGrey;
      &:focus {
        outline: 2px solid $darkGreen;
      }
    }
    option {
      font-size: 1rem;
    }
    .editable {
      border-color: $darkGrey;
      background-color: $greenBg;
      &:focus {
        outline: 2px solid $darkGreen;
      }
    }
    .editableList {
      display: list-item;
    }
    .editableList * {
      display: list-item;
    }
    h3 {
      margin-bottom: 30px;
    }
  }
  .dashboardLogout {
    text-transform: capitalize;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 0.05s linear;
    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &:hover {
      background-color: $green;
      color: white;
    }
  }
  .dashboardStats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      border-radius: 20px;
      background-color: white;
      padding: 20px;
      margin: 10px 0;
      width: calc(100% / 4 - 10px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .statsLogo {
        height: 50px;
        width: 50px;
        min-width: 50px;
      }
      span {
        font-size: 0.6rem;
      }
    }
  }
  .dashboardSummary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .summaryChart {
    width: calc(100% / 2 - 10px);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    height: 400px;
  }
  .recentlyApplied {
    width: calc(100% / 2 - 10px);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    height: 400px;
  }
}
.myProfileBio,
.myProfileSocials,
.myProfileLocation {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  height: auto;
  max-height: 800px;
  overflow: auto;
}

.myProfileBio {
  .bioPhoto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    * {
      margin-right: 20px;
    }
  }
  .editIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
    * {
      margin-right: 0;
    }
    p {
      font-size: 0.7rem;
    }
    svg {
      transition: all 0.1s linear;
      cursor: pointer;
      &:hover {
        color: $lightGreen;
        transform: scale(1.3);
      }
    }
  }
  .bioName {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .editable {
      border-color: $darkGrey;
    }
  }
  .bioImage {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
  }
  .bioBio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // label {
    //   width: 100%;
    //   font-size: 0.8rem;
    //   margin-bottom: 5px;
    // }
  }
  .bioBioText {
    width: 100%;
    resize: none;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
  }
  .editable {
    border-color: $darkGrey;
  }
}
.profileSocialsLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;

  // input {
  //   width: 100%;
  //   border-radius: 5px;
  //   border: 1px solid transparent;
  // }
  .editable {
    border-color: $darkGrey;
  }
}
.myProfileSocials button {
  margin-top: 15px;
}
.visibleButton {
  transition: all 0.2s linear;
  visibility: visible;
  opacity: 1;
  position: fixed;
  bottom: 40px;
  left: 50%;
  text-transform: uppercase;
}
.hiddenButton {
  visibility: hidden;
  opacity: 0;
}
.myProfileForm {
  div {
    margin-bottom: 15px;
  }
  .addressMiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: calc(100% / 3 - 20px);
    }
  }
}
.jobPostDetails,
.jobPostSkills,
.jobPostLocation {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}
.postDescription,
.postResponsibilities,
.postRequired,
.postBenefits,
.postMix {
  margin: 20px 0;
}

.postMix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  div {
    width: calc(100% / 2 - 20px);
  }
  .postSkills {
    width: 100%;
  }
  input {
    max-width: 290px;
    min-width: 250px;
  }
  select {
    padding: 5px;
    max-width: 290px;
    min-width: 250px;
  }
  label {
    margin-top: 20px;
  }
}
.postSkills {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  input {
    min-width: 100px;
    max-width: 100%;
    width: 100%;
  }
  button {
    height: 45px;
    margin: 0 20px;
  }
  p {
    font-size: 0.9rem;
  }
}
.skillHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    font-size: 0.8rem;
    background-color: $greenBg;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
  }
}
.companyInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .companyEmail,
  .companySite,
  .companyDate,
  .companySize,
  .companyNumber,
  .companyCategory {
    width: calc(100% / 2 - 20px);
    label {
      margin: 10px 0;
    }
  }
}
