html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.navWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Regular"), url("../fonts/Gordita Regular.woff") format("woff");
}
@font-face {
  font-family: "Gordita Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Regular Italic"), url("../../fonts/Gordita Regular Italic.woff") format("woff");
}
@font-face {
  font-family: "Gordita Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Thin"), url("../fonts/Gordita Thin.woff") format("woff");
}
@font-face {
  font-family: "Gordita Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Thin Italic"), url("../../fonts/Gordita Thin Italic.woff") format("woff");
}
@font-face {
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Light"), url("../../fonts/Gordita Light.woff") format("woff");
}
@font-face {
  font-family: "Gordita Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Light Italic"), url("../../fonts/Gordita Light Italic.woff") format("woff");
}
@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium"), url("../fonts/Gordita Medium.woff") format("woff");
}
@font-face {
  font-family: "Gordita Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium Italic"), url("../../fonts/Gordita Medium Italic.woff") format("woff");
}
@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold"), url("../fonts/Gordita Bold.woff") format("woff");
}
@font-face {
  font-family: "Gordita Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold Italic"), url("../../fonts/Gordita Bold Italic.woff") format("woff");
}
@font-face {
  font-family: "Gordita Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Black"), url("../../fonts/Gordita Black.woff") format("woff");
}
@font-face {
  font-family: "Gordita Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Black Italic"), url("../../fonts/Gordita Black Italic.woff") format("woff");
}
@font-face {
  font-family: "Gordita Ultra";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Ultra"), url("../../fonts/Gordita Ultra.woff") format("woff");
}
@font-face {
  font-family: "Gordita Ultra Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Ultra Italic"), url("../../fonts/Gordita Ultra Italic.woff") format("woff");
}
body * {
  font-family: "Gordita Regular", serif;
}

h1 * {
  font-family: "Gordita Medium", serif;
}

.buttonRoundClear {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.buttonRoundClear:hover {
  background-color: #755146;
  border: 1px solid transparent;
  color: white;
}
.buttonRoundClear:active {
  transform: scale(0.95);
}

.buttonRoundGreen {
  background-color: #00BF58;
  border: 1px solid transparent;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.buttonRoundGreen:hover {
  background-color: #755146;
}
.buttonRoundGreen:active {
  transform: scale(0.95);
}

.buttonSquareGreen {
  background-color: #00BF58;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.buttonSquareGreen:hover {
  background-color: #755146;
}
.buttonSquareGreen:active {
  transform: scale(0.95);
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/header/background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 50px;
}
.mainHeader nav {
  width: 100%;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.mainHeader .navLogo {
  min-width: 20%;
}
.mainHeader .navLogo img {
  width: 90px;
}
.mainHeader .navMenu {
  min-width: 40%;
  text-transform: capitalize;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}
.mainHeader .navMenu li {
  transition: all 0.1s linear;
  margin: 0 12px;
  border-bottom: 2px solid transparent;
}
.mainHeader .navMenu li:hover, .mainHeader .navMenu li:focus {
  transform: scale(1.3);
  border-bottom: 2px solid #00BF58;
}
.mainHeader .navButtons {
  min-width: 20%;
  display: flex;
  justify-content: flex-end;
}
.mainHeader .navButtons .buttonRoundGreen {
  margin-left: 10px;
}
.mainHeader .headerCenter {
  min-height: 50vh;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHeader h1 {
  text-align: center;
  font-size: 3.4rem;
}
.mainHeader h1 span {
  display: block;
}
.mainHeader .dreamText {
  padding: 50px 0;
}
.mainHeader .headerSearchContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.mainHeader .headerSearchContainer label {
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
  margin-bottom: 10px;
}
.mainHeader .headerSearchContainer input,
.mainHeader .headerSearchContainer select {
  font-size: 0.8rem;
  text-transform: capitalize;
}
.mainHeader .headerSearchContainer select {
  background-color: transparent;
  border: none;
}
.mainHeader .headerSearchContainer input[type=text] {
  border: none;
}
.mainHeader .headerSearchLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(170, 170, 170);
  padding-right: 20px;
}
.mainHeader .headerSearchMiddle {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.mainHeader .headerSearchRight {
  height: 100%;
}
.mainHeader .headerSearchRight button {
  text-transform: uppercase;
  padding: 20px 30px;
}
.mainHeader .popularTag {
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
}
.mainHeader .popularTag span {
  font-weight: bold;
  color: black;
  margin-right: 10px;
}
.mainHeader .headerStats {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHeader .companyUserLogos {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainHeader .companyUserLogos div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.categories {
  background-color: #EFF6F3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categories .categoriesWrapped {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categories .categoriesExplore {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.categories .categoriesExplore a {
  font-size: 0.7rem;
  color: #00BF58;
  padding: 5px 0;
  border-bottom: 2px solid #00BF58;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}
.categories .categoriesExplore a:hover {
  color: #755146;
  border-bottom: 2px solid #755146;
}
.categories .categoriesCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.9rem;
}
.categories .categoriesCards li {
  width: calc(25% - 20px);
  background-color: white;
  padding: 40px 30px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.categories .categoriesCards .categoryVacancies {
  font-size: 0.7rem;
  color: rgb(170, 170, 170);
  padding-top: 20px;
}
.categories .categoriesCards .categoriesText {
  padding: 20px 0;
  width: 80%;
  line-height: 1.4rem;
}
.categories .categoriesCards .logo {
  width: 60px;
}
.categories .categoriesCards .categoriesFinalCard {
  background-color: #00BF58;
  color: white;
}
.categories .categoriesCards .categoriesFinalCard h3 {
  font-family: "EB Garamond", serif;
  font-weight: lighter;
  font-size: 4rem;
}
.categories .categoriesCards .categoriesFinalCard p {
  font-size: 0.8rem;
}
.categories .categoriesCards .finalCardIcons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 30px;
}
.categories .categoriesCards .linesArt {
  width: 40px;
  height: 40px;
  margin: 0 25px 25px 0;
  transform: rotate(-15deg);
}
.categories .categoriesCards .arrowArt {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  min-height: 100vh;
}
.howItWorks .howToSteps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  border-bottom: 1px solid rgb(170, 170, 170);
}
.howItWorks .howToSteps div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.howItWorks .howToSteps h5 {
  padding: 20px 0;
}
.howItWorks .howToSteps p {
  font-size: 0.7rem;
  line-height: 1.2rem;
}
.howItWorks .howToArrow {
  align-self: flex-start;
  width: 12%;
}
.howItWorks .howToIcon {
  width: 60px;
}
.howItWorks .howToTalent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.howItWorks .howToAccount,
.howItWorks .howToProfile,
.howItWorks .howToApply {
  width: 20%;
  min-width: 200px;
}
.howItWorks .howToTalent {
  padding: 100px 0;
  min-height: 675px;
}
.howItWorks .howToLeft {
  width: 50%;
  object-fit: contain;
}
.howItWorks .howToLeft img {
  height: 100%;
}
.howItWorks .howToRight {
  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.howItWorks .whyUs {
  font-size: 0.7rem;
  color: #00BF58;
  padding-bottom: 15px;
}
.howItWorks .howToAccordion {
  padding: 50px 0;
}
.howItWorks button {
  align-self: flex-start;
}

.jobGuides {
  background-color: #EFF6F3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.jobGuidesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobGuidesTop {
  width: 100%;
}
.jobGuidesTop h2 {
  padding-bottom: 60px;
}

.jobGuidesHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobGuidesHeading a {
  font-size: 0.7rem;
  color: #00BF58;
  padding: 5px 0;
  border-bottom: 2px solid #00BF58;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}
.jobGuidesHeading a:hover {
  color: #755146;
  border-bottom: 2px solid #755146;
}

.jobGuidesBlogs {
  display: flex;
  justify-content: space-between;
}
.jobGuidesBlogs li {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobGuidesBlogs .blogImage {
  position: relative;
}
.jobGuidesBlogs .blogImage button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.blogCard p, .blogCard a {
  align-self: flex-start;
  font-size: 0.7rem;
}
.blogCard .publishedText {
  padding: 20px 0;
  color: rgb(170, 170, 170);
}
.blogCard .blogHeading {
  font-size: 1rem;
}
.blogCard .blogLink {
  padding: 20px 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogCard .blogLink svg {
  margin-left: 20px;
}
.blogCard .blogLink:hover {
  color: #00BF58;
}

.jobGuidesBottom {
  display: flex;
  justify-content: space-between;
  padding: 150px 0;
}

.cvUploadLeft {
  width: calc(50% - 30px);
}

.cvUploadRight {
  width: calc(50% - 30px);
}
.cvUploadRight h2 span {
  display: block;
}
.cvUploadRight p {
  padding: 30px 0;
  line-height: 1.3rem;
  font-size: 0.8rem;
  width: 80%;
}
.cvUploadRight button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cvUploadRight button img {
  width: 20px;
  margin-right: 10px;
}

.reviews {
  min-height: 90vh;
  padding: 100px 0;
}

.reviewsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewsHeading span {
  display: block;
}

.reviewsCarousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.reviewsCarouselButtons button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.reviewsCarouselButtons button:hover {
  transform: scale(1.2);
  color: #00BF58;
}
.reviewsCarouselButtons button:active {
  transform: scale(1);
  color: #755146;
}

.reviewsCard {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 40px;
  border-radius: 15px;
  color: white;
  height: 500px;
}

.reviewsCard.first {
  background-color: #00BF58;
}

.reviewsCard.second {
  background-color: #755146;
}

.reviewsLogo {
  width: 100px;
}

.reviewsText {
  line-height: 1.5rem;
  padding-top: 50px;
  font-size: 1rem;
  font-weight: bolder;
}

.reviewsAuthor {
  font-size: 0.7rem;
  padding: 50px 0;
  border-bottom: 1px solid white;
  width: 100%;
}
.reviewsAuthor span {
  font-weight: bold;
}

.reviewsRating {
  padding-top: 50px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq span {
  display: block;
}
.faq h2 {
  text-align: center;
  line-height: 2rem;
}

.faqAccordion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 50px 0;
}
.faqAccordion .css-6bxxch-MuiPaper-root-MuiAccordion-root.Mui-expanded::before {
  opacity: 1;
}

.faqLink {
  font-size: 0.7rem;
  background-color: #EFF6F3;
  padding: 8px 25px;
  border-radius: 10px;
}
.faqLink a {
  margin-left: 5px;
  color: #00BF58;
  border-bottom: 1px solid #00BF58;
}
.faqLink a:hover {
  color: #755146;
  border-bottom: 2px solid #755146;
}

.footerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerTop {
  padding: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerTop h4 {
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 0.8rem;
}
.footerTop li {
  margin-bottom: 10px;
  font-size: 0.7rem;
  transition: all 0.1s linear;
}
.footerTop li:hover {
  transform: scale(1.1);
}
.footerTop li:hover a {
  color: #00BF58;
}

.footerNewsletter p {
  font-size: 0.8rem;
}
.footerNewsletter span {
  font-size: 0.6rem;
  color: rgb(170, 170, 170);
}

.newsletterInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
.newsletterInputs input {
  border: none;
}

.footerBottom {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBottomLeft {
  font-size: 0.6rem;
  font-weight: bold;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerBottomLeft a {
  transition: all 0.1s linear;
}
.footerBottomLeft a:hover {
  transform: scale(1.1);
  color: #00BF58;
}

.footerBottom p {
  font-size: 0.6rem;
  color: rgb(170, 170, 170);
}

.footerBottomRight {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.footerBottomRight a {
  transition: all 0.1s linear;
}
.footerBottomRight a:hover {
  transform: scale(1.2);
  color: #755146;
}

/*# sourceMappingURL=App.css.map */
