@use "variables" as *;

.buttonRoundClear {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
    border: 1px solid transparent;
    color: white;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonRoundGreen {
  background-color: $lightGreen;
  border: 1px solid transparent;
  color: white;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareGreen {
  background-color: $lightGreen;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareBrown {
  background-color: $brown;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $darkGreen;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonPriceGreen {
  background-color: $green;
  border: 1px solid transparent;
  color: white;
  border-radius: 30px;
  font-size: 0.8rem;
  padding: 20px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.scrollToTop {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 0.6rem;
  border-radius: 10px;
  background-color: $lightGreen;
  opacity: 0.7;
  padding: 0 10px;
  color: black;
  &:hover {
    color: white;
    background-color: $brown;
  }
  &:active {
    transform: translate(50%, -50%);
  }
}
.scrollVisible {
  display: block;
}
.scrollHidden {
  display: none;
}
