@use "variables" as *;
.showNavButton {
  display: none;
}
.buttonRoundClear {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
    border: 1px solid transparent;
    color: white;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareClear {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
    border: 1px solid transparent;
    color: white;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonRoundGreen {
  background-color: $lightGreen;
  border: 1px solid transparent;
  color: white;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonRoundDarkGreen {
  background-color: $green;
  border: 1px solid transparent;
  color: white;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareGreen {
  background-color: $lightGreen;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareDarkGreen {
  background-color: $green;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareLimeGreen {
  background-color: $limeGreen;
  border: 1px solid transparent;
  color: black;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $green;
    color: white;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonSquareBrown {
  background-color: $brown;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $darkGreen;
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonRoundBrown {
  background-color: $brown;
  border: 1px solid transparent;
  color: white;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $lightGreen;
    
  }
  &:active {
    transform: scale(0.95);
  }
}
.buttonPriceGreen {
  background-color: $green;
  border: 1px solid transparent;
  color: white;
  border-radius: 30px;
  font-size: 0.9rem;
  padding: 20px 15px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $brown;
  }
  &:active {
    transform: scale(0.95);
  }
}
.scrollToTop {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 0.6rem;
  border-radius: 10px;
  background-color: $lightGreen;
  opacity: 0.7;
  padding: 0 40px;
  color: black;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: white;
    background-color: $brown;
  }
  &:active {
    transform: translate(50%, -50%);
  }
}
.scrollVisible {
  visibility: visible;
}
.scrollHidden {
  visibility: hidden;
}
.saveJobButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    color: $lightGreen;
  }
}